.homePage{
  background-image: url("../assets/lt-bg_1.jpg");
  background-size: cover;
}

.stockZone{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  min-height: 70vh;
  margin-top: 7vh;
}
