.bs_card{
  background-color: rgba(200, 200, 200, 0.45);
}

.stockList{
  min-width: 400px;
  width: 45vw;
}

.stockListHead{
  color: orange;
}

.sumTxt{
  text-align: left;
}

td {
  text-align: center;
}