.bs_card{
  background-color: rgba(200, 200, 200, 0.45);
}

.stockList{
  min-width: 55vw;
  max-width: 80vw;
}

.stockListHead{
  color: orange;
}

.sumTxt{
  text-align: left;
}

td {
  text-align: center;
}