.searchBar{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.stockCard{
  width: 30vw;
  min-width: 300px;
  min-height: 60vh;
  margin-bottom: 35px;
}

.searchTxt{
  text-align: left;
  color: orange
}